* {
    background:                     #282a36;
    background-alt:                 #44475a;
    foreground:                     #f8f8f2;
    border:                   			#bd93f9;
    border-alt:                 		#50fa7b;
    selected:                   		#ff79c6;
    urgent:                         #ff5555;
}
